@font-face {
    font-family: 'Womby';
    src: url('../fonts/Womby-Regular.eot');
    src: url('../fonts/Womby-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Womby-Regular.woff2') format('woff2'),
         url('../fonts/Womby-Regular.woff') format('woff'),
         url('../fonts/Womby-Regular.ttf') format('truetype'),
         url('../fonts/Womby-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: Womby, sans-serif;
    text-transform: uppercase;
}

/* BUTTONS */
.btn {
    font-size: 1.25rem;
    text-align: center;
    display: inline-block;
    border: 0;
    outline: none;
    width: 8em;
    line-height: 3rem;
    padding: 0;
    -webkit-border-radius: 3rem;
            border-radius: 3rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.btn:active {
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
            box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.btn--primary {
    color: #fff;
    background-color: #616EFF;
}
/* END OF BUTTONS */

/* SIGNUP / SIGN IN AND FORMS */
.form__login h1 {
    text-align: center;
}

.form__login {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form__login .error, .form__post .error {
    background-color: #c62828;
    color: #fff;
    width: 100%;
}

.form__login .error p, .form__post .error p {
    line-height: 4em;
    height: 4em;
    text-align: center;
    -webkit-animation: scaleVer 0.3s ease-out;
            animation: scaleVer 0.3s ease-out;
}

@-webkit-keyframes scaleVer {
    from{height: 0;}
    to{height: 4em;}
}

@keyframes scaleVer {
    from{height: 0;}
    to{height: 4em;}
}

.form__login label, .form__post label {
    display: block;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.form__login input, .form__post input[type="text"] {
    display: block;
    font-size: 1.25rem;
    line-height: 2.5rem;
    width: 100%;
    outline: none;
    border: 0;
    -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
            box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

.form__login input.good {
    background-color: #66BB6A;
    color: #fff;
}

.form__login input.error {
    background-color: #ef5350;
    color: #fff;
}

.form__login input[type="submit"] {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    line-height: 3rem;
}
/* END OF SIGNUP / SIGN IN FORM */

/* POST */

.form__post .btn--primary {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn--primary input[type=file] {
    left: 0;
    top: 0;
    position: absolute;
    outline: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3rem;
            border-radius: 3rem;
}

#preview--image {
    width: 100vw;
    height: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    transition: all 0.1s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

#preview--image.open {
    height: 100vw;
}

.form__container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.form__content:nth-child(2) {
    flex: 1;
}

@media (min-width : 320px){
    #preview--image {
        width: 320px;
    }
    #preview--image.open {
        height: 320px;
    }
}

.form__post .form__radio {
    margin-top: 1rem;
}


.form__post .form__radio label {
    display: inline;
}

.field__upload label {
    margin-bottom: 0.5rem;
    text-align: center;
}

.form__post input[type="submit"] {
    margin-top: 1rem;
}

@media (min-width : 601px){
    .form__content:first-child {
        width: 320px;
        margin-right: 1rem;
    }

    .form__container {
        display: flex;
        flex-direction: row;
    }

    .form__post .btn--primary {
        margin-left: 0;
        margin-right: 0;
    }

    .field__upload label {
        text-align: left;
    }
}
/* END OF POST */