@font-face {
    font-family: 'Womby';
    src: url('../fonts/Womby-Regular.eot');
    src: url('../fonts/Womby-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Womby-Regular.woff2') format('woff2'),
         url('../fonts/Womby-Regular.woff') format('woff'),
         url('../fonts/Womby-Regular.ttf') format('truetype'),
         url('../fonts/Womby-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #fbfbfb;
}

@media (min-width: 37rem){
    body {
        padding-bottom: 0;
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

.link--h1 {
    text-decoration: none;
    color: #000;
}

.h2--focal {
    letter-spacing: .1em;
    margin: 0;
    color:rgba(98, 111, 253, 1);
    text-align: center;
}

/* BUTTONS */
.btn {
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0;
    outline: none;
    width: 8em;
    line-height: 3rem;
    padding: 0;
    border-radius: 3rem;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
            box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.btn:active {
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
            box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.btn--primary, .btn--follow, .btn--edit {
    color: #fff;
    background-color: #616EFF;
}

.profile__user--btns {
    display: flex;
}

.btn--edit {
    margin-right: 0.5rem;
}

.btn--secondary, .btn--following {
    color: #616EFF;
    border: 1px solid #616EFF;
    background-color: #fff;
}

.btn--loadmore {
    display: block;
    margin: 2em auto 2em auto;
}

.btn--follow, .btn--edit, .btn--logout, .btn--following, .btn--change {
    font-size: 0.9em;
}


/* END OF BUTTONS */


input, textarea{
    -webkit-appearance: none;
    border-radius: 0;
}

/* UPLOAD COMPLETE MESSAGE */
.upload__complete {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    line-height: 3rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 480px;
    -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
            box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: bannerMessage 4s ease-in-out forwards;
            animation: bannerMessage 4s ease-in-out forwards;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    opacity: 0;
}
@media (min-width: 37rem){
    .upload__complete {
        bottom: -3rem;
    }
}

@-webkit-keyframes bannerMessage {
    10%{-webkit-transform: translateY(-48px);transform: translateY(-48px); opacity: 1}
    90%{-webkit-transform: translateY(-48px);transform: translateY(-48px); opacity: 1}
}

@keyframes bannerMessage {
    10%{-webkit-transform: translateY(-48px);transform: translateY(-48px); opacity: 1}
    90%{-webkit-transform: translateY(-48px);transform: translateY(-48px); opacity: 1}
}

/* SIGNUP / SIGN IN AND FORMS */
.form__login h1 {
    text-align: center;
}

.form__login {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form__login .error, .form__post .error, .user__error, .user__avatar__complete {
    background-color: #c62828;
    color: #fff;
    width: 100%;
}

.user__avatar__complete {
    background-color: #4CAF50;
}

.form__login .error p, .form__post .error p, .user__error p, .user__avatar__complete p {
    line-height: 4em;
    height: 4em;
    text-align: center;
    -webkit-animation: scaleVer 0.3s ease-out;
            animation: scaleVer 0.3s ease-out;
}

@-webkit-keyframes scaleVer {
    from{height: 0;}
    to{height: 4em;}
}

@keyframes scaleVer {
    from{height: 0;}
    to{height: 4em;}
}

.form__login label, .form__post label {
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    padding: .5em;
}

.form__login input, .form__post input[type="text"] {
    display: block;
    font-size: 1rem;
    padding: 1em;
    width: 100%;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 4px 8px rgba(98,111,253,0.15);
            box-shadow: 0px 4px 8px rgba(98,111,253,0.15);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form__login .btn--small {
    padding: 0;
}

.form__login input.good {
    background-color: #66BB6A;
    color: #fff;
}

.form__login input.error {
    background-color: #ef5350;
    color: #fff;
}

.form__login input[type="submit"] {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    border-radius: 3rem;
    line-height: 3rem;
}

a.link--login {
    display: block;
    width: 100%;
    text-align: center;
    color: #626FFD;
    margin-bottom: 2em;
  }

.form__login__field__container {
    background-color: rgba(98,111,253,0.08);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em auto;
    padding: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* END OF SIGNUP / SIGN IN FORM */

/* POST */

.form__post .btn--primary {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
}

.btn--upload {
    margin-top: 1rem;
    cursor: pointer;
}

.btn--primary input[type=file] {
    left: 0;
    top: 0;
    position: absolute;
    outline: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3rem;
}

#preview--image {
    width: 100vw;
    height: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
            box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
}

a.link--login {
    display: block;
    width: 100%;
    text-align: center;
    color: #626FFD;
  }
/* END OF SIGNUP / SIGN IN FORM */

/* POST */

.form__post .btn--primary {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#preview--image.open {
    max-width: 90vw;
}

.form__container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.form__content:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.form__post .form__radio {
    margin-top: 1rem;
}


.form__post .form__radio label {
    display: inline;
}

.field__upload label {
    margin-bottom: 0.5rem;
    text-align: center;
}

.form__post input[type="submit"] {
    margin-top: 1rem;
}

.location, #location {
    display: none !important;
}

@media (min-width : 960px){
    .form__content:first-child {
        width: 320px;
        margin-right: 1rem;
    }

    .form__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .form__post .btn--primary {
        margin-left: 0;
        margin-right: 0;
    }

    .field__upload label {
        text-align: left;
    }
}

.form__content__filters {
    display: none;
}

.form__content__filters.open {
    display: flex;
    flex-direction: column;
}

.form__content__filters ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form__content__filters figure{
    margin: 0 auto;
    z-index: -1;
}

ul {
    list-style-type: none;
    padding: 0;
    -webkit-padding-start: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

li {
    display: block;
}

input[type="checkbox"] {
    display: none;
}

.labelfilter {
    border: 1px solid #fff;
    display: block;
    position: relative;
    margin: 0px;
    cursor: pointer;
    max-width: 320px;
    margin: 0 auto;
}

.labelfilter:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #616EFF;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transform: scale(0);
}

:checked + .labelfilter {
    border-color: #eee;
}

:checked + .labelfilter:before {
    content: "✓";
    background-color: #616EFF;
    transform: scale(1);
}

:checked + .labelfilter img {
    z-index: -100;
}

/* END OF POST */

/* FEEDS */
.feeds {
    background-color: #fff;
    width: 100%;
    height: 3rem;
    box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
    border-bottom: 2px solid #fff;
}
.feeds__container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 3rem;
    max-width: 81rem;
    margin-left: auto;
    margin-right: auto;
}
.feeds__tab {
    background-color: #fff;
    height: 3rem;
    width: 100%;
    position: relative;
}

.feeds__tabs__selected {
    width: 100%;
    height: 2px;
    background-color: #323232;
    transition: 0.3s ease-in-out;
    transform: translateX(0);
}

.feeds__tab a {
    display: block;
    line-height: 3rem;
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none;
    color: #323232;
    box-sizing: border-box;
    transition: border 0.3s ease-in-out;
}

.feeds__tab a.selected {
    border-bottom: 2px solid #323232;
}

.feeds__tab a img {
    height: 1.1rem;
    margin-right: 0.5rem;
    margin-bottom: -0.2rem;
}

/* END OF SIGNUP / SIGN IN FORM */

.btn--primary input[type=file] {
    left: 0;
    top: 0;
    position: absolute;
    outline: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}

#preview--image {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#preview--image.open {
    display: block;
    height: auto;
}

.form__container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.form__content:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.form__post .form__radio {
    margin-top: 1rem;
}


.form__post .form__radio label {
    display: inline;
}

.field__upload label {
    margin-bottom: 0.5rem;
    text-align: center;
}

.form__post input[type="submit"] {
    margin-top: 1rem;
}

.form__content__filters ul {
    padding: 0;
}

.form__content__filters li {
    width: 14.285714285%;
}

#figurePreview {
    transition: all 0.3s ease-in-out;
}

@media (min-width : 444px){
    #preview--image.open {
        max-width: 400px;
    }
}

@media (min-width : 960px){
    #preview--image.open {
        max-width: 100%;
    }

    .form__content:first-child {
        width: 320px;
        margin-right: 1rem;
    }

    .form__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .form__post .btn--primary {
        margin-left: 0;
        margin-right: 0;
    }

    .field__upload label {
        text-align: left;
    }
}

/* NAV */
.h1--focal {
    letter-spacing: .25em;
    font-family: Womby, sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 4rem;
}

@media (min-width: 25rem){
    .h1--focal {
        font-size: 1.5rem;
    }
}

.navbar {
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
            box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgba(255,255,255,0.9);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    z-index: 999;
}
.navbar__container {
    display: flex;
    max-width: 60rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar__container a {
    display: block;
}

.navbar__icons {
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    bottom: 0;
    background-color:rgba(255,255,255,0.9);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    width: 100%;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px -4px 8px rgba(98,111,253,0.08);
            box-shadow: 0px -4px 8px rgba(98,111,253,0.08);
    box-sizing: border-box;
    z-index: 999;
    align-items: center;
}

.navbar__icons--icon {
    display: block;
    width: 2rem;
    padding: 1rem;
    opacity: .3;
}

.navbar__icons--rightIcon {
    padding-right: 0;
}

.form__search {
    flex: 1;
    width: 100%;
    margin-left: 1rem;
}

.navbar__avatar {
    height: 2rem;
    width: 2rem;
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 2000px;
    margin: 1rem;
}

@media (min-width: 37rem){
    .navbar__icons {
        position: static;
        padding: 0;
        box-shadow: none;
        justify-content: flex-start;
        width: auto;
        background: transparent;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }

    .form__search {
        margin-right: 1rem;
    }

    .navbar--home {
        display: none !important;
    }
}

.form__search input {
    display: block;
    font-size: 1.25rem;
    line-height: 2.5rem;
    width: 100%;
    height: 2.5rem;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
            box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 0.75rem;
}
/* FEED HOME */ 
.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    transition: all 0.3s ease-in-out;
    margin-top: 2em;
}

.feed__post {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 2px 8px rgba(0,111,253,0.2);
            box-shadow: 0px 2px 8px rgba(98,111,253,0.2);
    width: 90vw;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.feed__post--image {
    display: block;
    width: 100%;
}

.feed__post--image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}
.feed__post__info--description {
    font-size: 2em;
}

.feed__post__info--uploadtime {
    color: #999;
    font-style: italic;
    margin: 0;
}

.feed__msg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 4em;
}

.feed__post__info__comments {
    margin-top: 1em;
}

.feed__post__info__comments--comment {
    padding: .4em 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.feed__post__info__comments--comment p {
    display: inline;
}


.feed__post__info__comments--commentUsername {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding-right: 0.4em;
    display: inline;
}

.feed__post__info__comments--moreComments {
    text-decoration: none;
    display: block;
    color: #616EFF;
    padding: 0;
    padding-top: 1em;
}

    
.feed__post__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 90vw;
    padding-left: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.feed__post__info p {
    margin: 0;
}

.feed__post__info--uploader {
    display:inline-block;
    color: rgba(0, 0, 0, 0.7);
    border-radius: .2em;
    text-decoration: none;
}

.feed__post__info__uploader--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.feed__post__info--avatar {
    width: 40px;
    height: 40px;
    margin-right: 1em;
    background-size: cover;
    background-position: center;
    border-radius: 2000px;
}

@media (min-width: 27rem){
    
    .feed__post__info {
        width: 25rem;
    }

    .feed__post {
        width: 25rem;
    }
}

/* location heading */
.location__h1 {
    text-align: center;
    margin-top: 2em;
    font-size: 2rem;
}

.location__h1 .location__icon {
    display: inline-block;
    width: 1.25rem;
    height: 2rem;
    background-image: url('../img/loc.svg');
    background-size: 100% 100%;
    margin-right: 0.5em;
    margin-bottom: -0.15em;
}

@media (min-width: 56rem ) {
    .feed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 54rem;
        margin-left: auto;
        margin-right: auto;
    }
    .feed__post {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 83rem ) {
    .feed {
        width: 81rem;
    }
    .feed__post {
    }
}

/* POST DETAIL */

.post {
    margin-top: 2em; 
    -webkit-box-shadow: 0px 2px 8px rgba(98,111,253,0.2);
    box-shadow: 0px 2px 8px rgba(98,111,253,0.2);
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

@media (min-width: 84rem){
    .post {
        max-width: 80rem;
    }
}

.post__detail {
    margin: 0 auto;
}

.post__detail__info {
    margin: 0 auto;
    padding: 2em;
    padding-top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 5em;
}

.post__detail__image {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.post__detail__info--uploader {
    display:inline-block;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.post__detail__info--description {
    margin: 0;
    font-size: 2em;
}

/* likes */

.feed__post__info--reactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.feed__post__info--likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.feed__post__info--likes .like--count {
    text-align: center;
    font-size: 1em;
}
.feed__post__info--likes button {
    border: none;
    outline: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    text-indent: -9999999px;
    cursor: pointer;
    background-size: 100% 100%;
}

.feed__post__info--likes.likes-0 button {
    background-image: url('../img/like.svg');
}

.feed__post__info--likes.likes-1 button {
    background-image: url('../img/bump.svg');
}

.feed__post__info--likes.likes-2 button {
    background-image: url('../img/lol.svg');
}

.feed__post__info--likes.likes-0 .liked {
    -webkit-transform-origin: 25% 50%;
        -ms-transform-origin: 25% 50%;
            transform-origin: 25% 50%;
    -webkit-animation: shaked 0.3s ease-in-out;
            animation: shaked 0.3s ease-in-out;
}

.feed__post__info--likes.likes-1 .liked {
    -webkit-animation: zoomed 0.3s ease-in-out;
            animation: zoomed 0.3s ease-in-out;
}

.feed__post__info--likes.likes-2 .liked {
    -webkit-animation: bounce 0.4s ease-in-out;
            animation: bounce 0.4s ease-in-out;
}

.feed__post__info--likes .liked-db {
    -webkit-animation: none !important;
            animation: none !important;
}

.post__info--location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.5em;
    color: #616EFF;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.post__info--location p {
    margin: 0;
}

.post__info--location a, .post__info--location a:hover, .post__info--location a:visited, .post__info--location a:active {
    text-decoration: none;
    color: #616EFF;
}

.post__info--location .location__icon {
    background-image: url('../img/loc.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 0.9375em;
    height: 1.5em;
    margin-right: 0.5em;
}

.liked-db ~ .like--count{
    -webkit-animation: none !important;
            animation: none !important;
}

.liked ~ .like--count {
    -webkit-animation: greencount 2s ease-in-out;
            animation: greencount 2s ease-in-out;
}

.feed__post__info--more button {
    display: block;
    margin: 1em;
    margin-left: auto;
    margin-right: 0.5em;
    width: 3em;
    height: 1.5em;
    text-indent: -999999px;
    background-color: transparent;
    border: none;
    outline: none;
    background-size: 100% 100%;
    background-image: url('../img/more.svg');
}

.feed__post__info--more--menu {
    display: none;
}

.feed__post__info--more--menu.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.flexspace {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.feed__post__info--option {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    text-align: center;
    line-height: 3rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
            box-shadow: 0px 4px 8px rgba(98,111,253,0.08);
    z-index: 9999;
}

@-webkit-keyframes shaked {
    30%{-webkit-transform: rotate(10deg);transform: rotate(10deg)}
    70%{-webkit-transform: rotate(-30deg);transform: rotate(-30deg)}
}

@keyframes shaked {
    30%{-webkit-transform: rotate(10deg);transform: rotate(10deg)}
    70%{-webkit-transform: rotate(-30deg);transform: rotate(-30deg)}
}

@-webkit-keyframes zoomed {
    30%{-webkit-transform: scale(0.8);transform: scale(0.8)}
    70%{-webkit-transform: scale(1.2);transform: scale(1.2)}
}

@keyframes zoomed {
    30%{-webkit-transform: scale(0.8);transform: scale(0.8)}
    70%{-webkit-transform: scale(1.2);transform: scale(1.2)}
}

@-webkit-keyframes bounce {
    10%{-webkit-transform: translateY(0.25rem) scale(1.1, 0.9);transform: translateY(0.25rem) scale(1.1, 0.9)}
    30%{-webkit-transform: scale(0.8, 1.2);transform: scale(0.8, 1.2)}
    50%{-webkit-transform: translateY(-0.5rem);transform: translateY(-0.5rem)}
    70%{-webkit-transform: scale(1.2, 0.8);transform: scale(1.2, 0.8)}
}

@keyframes bounce {
    10%{-webkit-transform: translateY(0.25rem) scale(1.1, 0.9);transform: translateY(0.25rem) scale(1.1, 0.9)}
    30%{-webkit-transform: scale(0.8, 1.2);transform: scale(0.8, 1.2)}
    50%{-webkit-transform: translateY(-0.5rem);transform: translateY(-0.5rem)}
    70%{-webkit-transform: scale(1.2, 0.8);transform: scale(1.2, 0.8)}
}

@-webkit-keyframes greencount {
    10%{color: #4CAF50}
    40%{color: #4CAF50}
}

@keyframes greencount {
    10%{color: #4CAF50}
    40%{color: #4CAF50}
}

.liked {opacity: 0.8;}

.feed__post__info__add-comment {
    padding-top: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.feed__post__info__add-comment textarea {
    width: 100%;
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    border: none;
    outline: none;
    resize: none;
}

/* Profile */

.profile--avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 2000px;
    background-color: #eee;
}

.profile__user--ava_name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__user--top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 2em auto;
}



.profile__user--description {
    width: 80vw;
    max-width: 500px;
    margin: 2em auto 3em auto;
    text-align: center;
}

@media (min-width: 700px) {
    .profile__user--top {
        flex-direction: row;
    }

    .profile--avatar {
        margin-right: 1em;
    }

    .profile__user--btns {
        margin-left: 1rem;
    }

    .profile__user--ava_name {
        flex-direction: row;
    }
}

.accordion {
    background-color: rgba(98,111,253,0.08);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80vw;
    max-width: 500px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    margin: 0 auto;
}

.active, .accordion:hover {
    background-color: rgba(98,111,253,1);
    color: #fff;
}

.accordion:after {
    content: '\002B';
    color: rgb(179, 179, 179);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
}

.editprofile--h1 {
    margin-top: 1.5em;
    text-align: center;
}

.form__field--profileText, .form__field--password, .form__field--email {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.form__field--profileText textarea{
    display: block;
    width: 100%;
    height: 7em;
    border:1px solid #eee;
    padding: 1em;
}

.form__field--profileText textarea:focus {
    outline: none !important;
    border:1px solid #eee;
}

.btn--change {
    margin: 2em auto;
    display: block;
}

.form__changeSettings label {
    margin: 0em 1em 1em 1em;
    font-size: .9em;
    color: rgb(173, 173, 173);
}

.form__field--password input, .form__field--email input {
    padding: 1em;
    border:1px solid #eee;
}

.form__field--password input:focus, .form__field--email input:focus {
    outline: none !important;
    border:1px solid #eee;
}

figure {
    padding: 0;
    margin: 0;
}

.previewAvatar {
    display: block;
    position: relative;
    background-color: #eee;
    border-radius: 1000px;
    height: 10em;
    width: 10em;
    margin-bottom: 1em;
    background-size: cover;
    background-position: center;
}

.form__changeAvatar--container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

.previewAvatar input[type=file] {
    left: 0;
    top: 0;
    position: absolute;
    outline: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3rem;
}